.clear
{
  clear:both;
}
.container-fluid
{
    width: 100%;
}
/* import and set size of the cover*/
.intro
{
    background-image: url("image/management-cover.png");
    height: 350px;
    background-size: 300px;
    opacity: 0.85;
}
/*Set size of table that contain the input area*/
.table-container table {
  margin: 25px 0;
  position: relative;
}
th{
  padding: 12px 15px;
 }

td{
  padding: 12px 30px;
}
/*Flexbox to align the input area to be in the center*/
.container
{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Flexbox to align the buttons to be in the center*/
.container1
{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*set margin of page*/
*{
  margin:15px 5px 15px 5px;
}
/*Set the logo and title to be in the center*/
.logo,.title,#intro-title  
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 68px;
}
/*Set background of title and logo to lie on top of cover image*/
#intro-title  
{
    width: 90%;
    background-color: rgb(230, 230, 230);
    opacity: 0.92;
    padding-bottom: 40px;
}
/*Size of the title*/
#title1
{
  text-align: center;
  background-color: rgb(250, 134, 26);
  font-size: 30px;
  color: #fff;
}
/*Set the box size for each part*/
.aca-year, .semester, .faculties, .program, .module, .class, .lecturer, .class-lec, .aca-fa, .aca-fa-pro, .mod-aca-fa-pro
{
  width: 70%;
  background-color: #fff;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border-radius: 10px;
  border: 2px solid rgb(145, 145, 145);
  box-shadow: 10px 10px 5px gray;
}
/* Add hover animation for button load data, show and hide*/
@-webkit-keyframes button {
  50% {
    background-color: rgb(250, 134, 26);
  }
}
@keyframes button {
  50% {
    background-color: rgb(250, 134, 26);
  }
}
#button {
  display: inline-block flex;
  align-items: center;
  vertical-align: middle;
  width: 200px;
  height: 70px;
  border: none;
  padding: auto;
  border-radius: 15px;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
#button:hover, #button:focus, #button:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: rgb(250, 134, 26);
  color: white;
}
/*Add hover animation for button new*/
#button1 {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 30px;
  border: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
#button1:hover, #button1:focus, #button1:active {
  background-color: rgb(250, 134, 26);
  color: white;
}
/*Background color of body*/
body{
  background-color: rgb(250, 218, 169);
}
/*The size of teh input box*/
input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
} 
