.clear
{
    clear: both;
}
.box
{
    width: 80%;
    margin: auto;
    padding: 5px;
}
#logo
{
    float: left;
}
#title
{
    float: right;
    font-size: 42px;
}
#opening
{
    font-size: 18px;
}
#teacher, #module, #program, #intake
{
    background-color: lightgray;
    border: none;
    width: 100%;
}
#subtitle1, #subtitle2, #subtitle3
{
    font-size: 22px;
}
#notice1, #notice2
{
    font-size: 14px;
}
#comment
{
    background-color: white;
    width: 40%;
    height: 20%;
}
#submit
{
    width: 80px;
    height: 30px;
}

