.chart-container {
	width: 600px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.chart-title {
	font-family: 'Roboto', sans-serif;
	align-self: center;
}

canvas {
	width: 600px;
	height: 600px;
}