p {
	margin: 0.5rem;
}
.chart-container {
	width: 650px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.chart-title {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	margin-top: 2rem;
	align-self: center;
}

canvas {
	width: 600px;
	height: 600px;
}

select {
	border-radius: 5px;
	width: 120px;
	height: 30px;
	border-color:gray;
	text-align: center;
}

option {
	padding: 5px;
	height: 50px;
}