p {
	margin: 0.5rem;
}
.container-fluid
{
    width: 100%;
}
/* Import cover into title and set size*/
.intro
{
    background-image: url("questionnaire_cover.jpg");
    height: 320px;
    background-size: 500px; 
	opacity: 0.85;  
}
/* Set margin for page*/
*{
  margin:15px 5px 15px 5px;
}
/* Align the logo and title in the center*/
.logo,#intro-title  
{
    display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 60px;
}
/*Set the background of the title to lay on top of cover*/
#intro-title  
{
    width: 90%;
    background-color: rgb(230, 230, 230);
    opacity: 0.91;
    padding-bottom: 40px;
}
#subtitle
{
	text-align: center;
	font-size: 30px;
	font-weight: 600;
}
/* Set size of the space where display the charts*/
.chart-container {
	width: 650px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
/* Format chart title*/
.chart-title {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	margin-top: 2rem;
	align-self: center;
}
canvas {
	width: 600px;
	height: 600px;
}
.container-fluid
{
	width: 100%;
}
/* Box to contain the select area */
.container
{
	width: 80%;
	padding: 10px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 80px;
  	border-radius: 10px;
  	border: 2px solid rgb(145, 145, 145);
  	box-shadow: 10px 10px 5px gray;
	background-color: #fff;
}
#select
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 30px;
	background-color: #cecece;;
	border: none;
	text-align-last: center;
	
}
#select:hover
{
	background-color: rgb(255, 143, 38);
}
#value
{
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.box1
{
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
/* Hover animation for visualize button*/
#button {
	display: block;
	width: 200px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	background: #bbbbbb;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	font-size: 16px;
	font-weight: 400;
  }
#button:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(255, 143, 38);
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
#button:hover, #button:focus, #button:active {
	color: white;
  }
#button:hover:before, #button:focus:before, #button:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
  }
  body
  {
	  background-color: rgb(250, 250, 250);
  }
